body{
	background-color: black;
}
#navBar{
	background-color: #dddddd;
	padding: 5px;
	border-bottom: 1px solid #337ab7;
}
#registerForm{
	background-color: white;
	border-radius: 4px;
	margin-top: 20px;
	padding: 20px;
}
#searchBar{
	padding-bottom: 10px;
}
#searchInput{
	background-color: white;
	border: none;
  border-radius: 4px;
	display: inline-block;
  height: 30px;
  line-height: 25px;
  overflow: hidden;
  outline: none;
	padding-left: 10px;
  resize: none;
  width: 300px;
	word-wrap: none;
}
#directoryContents{
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
#rowHeaderPatientList{
	background-color: #337ab7;
	border-bottom: 1px solid black;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	padding: 5px;

}
.rowPatientList{
	background-color: white;
	border-bottom: 1px solid black;
	border-radius: 4px;
	padding: 5px;
	cursor: pointer;
}
.rowPatientList:hover{
	background-color: grey;
	color:white;
}
.modalRowDescription{
	padding-bottom: 10px;
	font-weight: bold;
}
.dateSegment{
	padding-bottom: 10px;
	padding-right: 20px;
}
